<!doctype html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Logowanie VULCAN</title>
</head>
<body>
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-10 px-4 shadow-lg sm:rounded-lg sm:px-10">

            <div class="sm:mx-auto sm:w-full sm:max-w-xl">
                <h2 class="mt-6 text-center text-lg font-bold tracking-tight text-gray-900">Wystąpił błąd 🐛</h2>
            </div>

            <div class="mt-10">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-300"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="bg-white px-2 text-gray-500">Zgłoś błąd na Discord:  <a class="text-blue-600 hover:text-blue-800" target="_blank" href="https://discord.gg/teFfJzDVQx">#「🆘」pomoc</a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="relative flex justify-center text-sm">
    <span class="bg-white px-2 text-gray-500">Made with ❤️ by <a class="text-blue-600 hover:text-blue-800" target="_blank" href="https://wybran.dev">Krystian Wybranowski</a> </span>
</div>
</body>
</html>