<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Logowanie VULCAN</title>
</head>
<body>
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-10 px-4 shadow-lg sm:rounded-lg sm:px-10">

      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-lg font-bold tracking-tight text-gray-900" th:text="${info}"></h2>
        <h2 class="mt-6 text-center text-lg font-bold tracking-tight text-blue-700" th:text="${student.nick} + ' ' + ${student.className}"></h2>
        <h2 class="mt-6 text-center">
          <a href="https://discord.com/channels/@me" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Otwórz Discord</a>
        </h2>
      </div>

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="bg-white px-2 text-gray-500">Zgłoś błąd na Discord: ωybraη#5816</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>